* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas: "Header Header Header Header"
                         ". MainContent Sidebar ."
                         ". Twin1 Twin2 ."
                         "Footer Footer Footer Footer"
}

body {
    height: 150vh;
}

header {
    display: grid;
    background-color: skyblue;
    grid-area: Header;
    justify-items: left;
    align-items: center;
    color: white;
}

main {
    display: grid;
    background-color: greenyellow;
    grid-area: MainContent;
    justify-items: center;
    align-items: center;
    color: white;
}

aside {
    display: grid;
    background-color: violet;
    grid-area: Sidebar;
    justify-items: center;
    align-items: center;
    color: white;
}

section {
    display: grid;
    background-color: orange;
    grid-area: Twin1;
    justify-items: center;
    align-items: center;
    color: white;;
}

section {
    display: grid;
    background-color: orange;
    grid-area: Twin2;
    justify-items: center;
    align-items: center;
    color: white;
}

footer {
    display: grid;
    background-color: blue;
    grid-area: Footer;
    justify-items: left;
    align-items: center;
    color: white;
}