* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1 fr 2 fr 1 fr 1 fr;
    grid-template-rows: 1 fr 1 fr 1 fr 1fr fr 1 fr;
    grid-template-areas: "Header Header Header Header"
                         ". MainContent Sidebar ."
                         ". Twin1 Twin2 ."
                         "Footer Footer Footer Footer"
height: 100vh
}

header {
    background-color: skyblue;
    grid-area: Header;
}

main {
    background-color: greenyellow;
    grid-area: MainContent;
}

aside {
    background-color: violet;
    grid-area: Sidebar;
}

section {
    background-color: orange;
    grid-area: Twin1;
}

section {
    background-color: orange;
    grid-area: Twin2;
}

footer {
    background-color: blue;
    grid-area: Footer;
}