* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

image {
    width: 50%;
    height: 50%;
}

body {
    font-family: sans-serif;
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "Header Header Header Header"
                         "Blanco Aside Div Blanco"
                         "Footer Footer Footer Footer"
}

header {
    display: grid;
    grid-area: Header;
    background-color: #B8E5D1;
    color: #756F9D;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}

aside {
    display: grid;
    grid-area: Aside;
    background-color: #D3C4E3;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}

div {
    display: grid;
    grid-area: Div;
    background-color: #756F9D;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}

footer {
    display: grid;
    grid-area: Footer;
    background-color: #B8E5D1;
    color: #756F9D;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}